In [2]:
# Importing necessary libraries

# Numerical and matrix operations
import numpy as np  # NumPy is used for numerical computations and handling arrays.
import pandas as pd  # Pandas is used for data manipulation and analysis, particularly for dataframes.

# Data visualization
from matplotlib import pyplot as plt  # Matplotlib is used for creating static, interactive, and animated visualizations.
import seaborn as sns  # Seaborn is built on top of Matplotlib and provides a high-level interface for drawing attractive statistical graphics.

# Statistical modeling and machine learning
# from sklearn.model_selection import train_test_split  # Scikit-learn is used for splitting data into training and testing sets.
# from sklearn.preprocessing import StandardScaler  # Scikit-learn is used for feature scaling.
# from sklearn.linear_model import LinearRegression  # Scikit-learn is used for linear regression modeling.
# from sklearn.metrics import mean_squared_error, r2_score  # Scikit-learn is used for evaluating the performance of models.

# # Deep learning
# import tensorflow as tf  # TensorFlow is used for deep learning and neural networks.
# from tensorflow import keras  # Keras, which comes bundled

In [3]:
#retrieving the csv file
data = pd.read_csv('card_data.csv')

In [4]:
df = pd.DataFrame(data)

In [5]:
data.head(100)

,Date Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount Withdrawn,Class
0,07/06/2024 11:00:44,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,F
1,07062024 11:01:43,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,F
2,07/06/2024 11:02:05,NaN,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,F
3,07062024 11:02:21,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,F
4,07/06/2024 11:03:13,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,12/06/2024 10:27:13,-0.658305,0.406791,2.037461,-0.291298,0.147910,-0.350857,0.945373,-0.172560,0.025133,...,-0.156096,-0.238805,0.089877,0.421195,-0.352487,0.074783,-0.094192,-0.092493,54.99,F
96,12/06/2024 10:27:36,0.959602,0.370711,0.888613,2.343244,0.352491,1.365515,-0.277771,0.516053,-0.700929,...,-0.155547,-0.403239,0.356504,-0.696881,-0.198718,-0.220268,0.068546,0.020797,7.55,F
97,12/06/2024 10:28:06,-0.653445,0.160225,1.592256,1.296832,0.997175,-0.343000,0.469937,-0.132470,-0.197794,...,0.038363,0.336449,-0.014883,0.102959,-0.265322,-0.348637,0.011238,-0.049478,19.85,F
98,12/06/2024 10:30:25,-1.494668,0.837241,2.628211,3.145414,-0.609098,0.258495,-0.012189,0.102136,-0.286164,...,-0.140047,0.355044,0.332720,0.718193,-0.219366,0.118927,-0.317486,-0.340783,28.28,M
99,12/06/2024 10:31:15,1.232996,0.189454,0.491040,0.633673,-0.511574,-0.990609,0.066240,-0.196940,0.075921,...,-0.251566,-0.770139,0.125998,0.369627,0.205598,0.094062,-0.033138,0.020990,15.99,M

In [6]:
#generating the statistical figures on the data
df.describe()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount Withdrawn
count,505.000000,509.000000,509.000000,509.000000,509.000000,509.000000,509.000000,509.000000,509.000000,505.000000,...,509.000000,509.000000,509.000000,509.000000,509.000000,509.000000,509.000000,509.000000,509.000000,509.000000
mean,-0.147504,0.190540,0.863139,0.373890,0.026603,0.244175,0.104562,-0.044754,-0.013303,0.059720,...,0.047686,-0.007733,-0.108614,-0.031656,0.009900,0.131261,0.008315,0.019217,-0.018080,88.269037
std,1.361457,1.232291,1.040525,1.245675,1.186909,1.297989,0.856110,0.819954,0.861278,0.955978,...,0.614876,0.560787,0.617631,0.379144,0.640129,0.425208,0.465133,0.329490,0.293336,490.379065
min,-6.093248,-12.114213,-5.694973,-4.515824,-6.631951,-3.498447,-4.925568,-7.494658,-2.517037,-2.311024,...,-2.538941,-4.134608,-2.776923,-3.553381,-1.867208,-1.389079,-1.243924,-2.377933,-2.733887,0.000000
25%,-0.895224,-0.169044,0.302488,-0.363736,-0.568699,-0.584580,-0.303337,-0.159596,-0.478856,-0.366167,...,-0.165241,-0.224926,-0.534738,-0.163747,-0.384842,-0.136578,-0.315949,-0.041732,-0.013592,5.990000
50%,-0.342871,0.269139,0.878730,0.510525,-0.092210,-0.027353,0.103677,0.053143,-0.053466,-0.081320,...,-0.033831,-0.071473,-0.069830,-0.045124,0.104744,0.155102,-0.051634,0.021491,0.022966,17.800000
75%,1.114009,0.865268,1.513242,1.159432,0.480561,0.528598,0.554393,0.276524,0.392478,0.267392,...,0.146140,0.093118,0.313610,0.084311,0.431806,0.444578,0.226700,0.106580,0.085802,59.990000
max,1.586093,5.267376,3.772857,4.075817,7.672544,5.122103,4.808426,1.726413,5.436633,8.737458,...,7.744222,4.332858,1.461535,3.150413,1.215279,1.136720,3.065576,2.490503,1.575380,10000.000000

In [7]:
# checking for missing values 
data.isnull().sum()

Date Time           0
V1                  4
V2                  0
V3                  0
V4                  0
V5                  0
V6                  0
V7                  0
V8                  0
V9                  0
V10                 4
V11                 0
V12                 0
V13                 0
V14                 0
V15                 0
V16                 0
V17                 0
V18                 0
V19                 0
V20                 0
V21                 0
V22                 0
V23                 0
V24                 0
V25                 0
V26                 0
V27                 0
V28                 0
Amount Withdrawn    0
Class               0
dtype: int64

In [8]:
#Filling the missing values in column V1 and V10 with their respective mean values
# data['V1'].fillna(data['V1'].mean(), inplace=True)
# data['V10'].fillna(data['V10'].mean(), inplace=True)

data = data.copy() #creating a copy of the object referencing to original object
data.loc[:, 'V1'] = data['V1'].fillna(data['V1'].mean())
data.loc[:, 'V10'] = data['V10'].fillna(data['V10'].mean())
#we used data.loc[:, 'col'] to explicitly select a column and modify it
#which avoids problems brought about by chained assignments (unexpected behavior)

In [9]:
# Verifying if missing values are handled
missing_values_after = data.isnull().sum()
print(missing_values_after)

Date Time           0
V1                  0
V2                  0
V3                  0
V4                  0
V5                  0
V6                  0
V7                  0
V8                  0
V9                  0
V10                 0
V11                 0
V12                 0
V13                 0
V14                 0
V15                 0
V16                 0
V17                 0
V18                 0
V19                 0
V20                 0
V21                 0
V22                 0
V23                 0
V24                 0
V25                 0
V26                 0
V27                 0
V28                 0
Amount Withdrawn    0
Class               0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509 entries, 0 to 508
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date Time         509 non-null    object
 1   V1                505 non-null    float64
 2   V2                509 non-null    float64
 3   V3                509 non-null    float64
 4   V4                509 non-null    float64
 5   V5                509 non-null    float64
 6   V6                509 non-null    float64
 7   V7                509 non-null    float64
 8   V8                509 non-null    float64
 9   V9                509 non-null    float64
 10  V10               505 non-null    float64
 11  V11               509 non-null    float64
 12  V12               509 non-null    float64
 13  V13               509 non-null    float64
 14  V14               509 non-null    float64
 15  V15               509 non-null    float64
 16  V16               509 non-null    float64
 17  V17               509 non-null    float64
 18  V18               509 non-null    float64
 19  V19               509 non-null    float64
 20  V20               509 non-null    float64
 21  V21               509 non-null    float64
 22  V22               509 non-null    float64
 23  V23               509 non-null    float64
 24  V24               509 non-null    float64
 25  V25               509 non-null    float64
 26  V26               509 non-null    float64
 27  V27               509 non-null    float64
 28  V28               509 non-null    float64
 29  Amount Withdrawn  509 non-null    float64
 30  Class             509 non-null    object
dtypes: float64(29), object(2)
memory usage: 123.4+ KB

In [11]:
#checking for duplicate rows
duplicates = data.duplicated(keep=False)
data[duplicates]

,Date Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount Withdrawn,Class
499,10/07/2024 11:21:44,1.239173,0.103368,0.371711,0.440033,-0.370396,-0.509393,-0.129165,0.030558,-0.010578,...,-0.240934,-0.790563,0.097823,-0.034851,0.190347,0.101428,-0.041183,0.002979,1.98,M
500,10/07/2024 11:22:21,-0.409900,1.183088,1.598967,0.353088,0.309710,-0.312400,0.707197,-0.043206,-0.892869,...,-0.163371,-0.396155,-0.069498,0.069735,-0.298407,0.199188,0.099692,0.118617,1.98,M
501,10/07/2024 11:24:01,1.240600,0.747735,-0.214136,1.301475,0.124740,-1.172183,0.371059,-0.306401,-0.246672,...,-0.039413,0.010700,-0.132261,0.306805,0.728251,-0.331239,0.039024,0.053600,1.00,F
502,10/07/2024 11:24:45,0.953918,-0.760595,1.091611,0.147115,-0.729796,1.430148,-1.070470,0.727965,1.432734,...,-0.098744,-0.015598,0.248461,-0.596979,-0.291046,1.053935,0.021906,0.003337,32.63,F
503,10/07/2024 11:31:21,1.255729,0.297650,0.287526,0.699902,-0.438405,-1.088542,0.034421,-0.159596,0.149990,...,-0.296736,-0.894374,0.137806,0.318641,0.190562,0.097319,-0.028174,0.029141,1.98,F
504,10/07/2024 11:21:44,1.239173,0.103368,0.371711,0.440033,-0.370396,-0.509393,-0.129165,0.030558,-0.010578,...,-0.240934,-0.790563,0.097823,-0.034851,0.190347,0.101428,-0.041183,0.002979,1.98,M
505,10/07/2024 11:22:21,-0.409900,1.183088,1.598967,0.353088,0.309710,-0.312400,0.707197,-0.043206,-0.892869,...,-0.163371,-0.396155,-0.069498,0.069735,-0.298407,0.199188,0.099692,0.118617,1.98,M
506,10/07/2024 11:24:01,1.240600,0.747735,-0.214136,1.301475,0.124740,-1.172183,0.371059,-0.306401,-0.246672,...,-0.039413,0.010700,-0.132261,0.306805,0.728251,-0.331239,0.039024,0.053600,1.00,F
507,10/07/2024 11:24:45,0.953918,-0.760595,1.091611,0.147115,-0.729796,1.430148,-1.070470,0.727965,1.432734,...,-0.098744,-0.015598,0.248461,-0.596979,-0.291046,1.053935,0.021906,0.003337,32.63,F
508,10/07/2024 11:31:21,1.255729,0.297650,0.287526,0.699902,-0.438405,-1.088542,0.034421,-0.159596,0.149990,...,-0.296736,-0.894374,0.137806,0.318641,0.190562,0.097319,-0.028174,0.029141,1.98,F

In [13]:
#removing duplicate values while keeping the occurrence
data_cleaned = data.drop_duplicates()


#To remove all duplicates including the first, we use this. but that shall make us loose data
#data_cleaned = data[~data.duplicated(keep=False)]

In [16]:
#lets save the cleaned data
data_cleaned.to_csv('cleaned_card_data.csv', index=False)

In [17]:
cleaned_data = pd.read_csv('cleaned_card_data.csv')

In [25]:
#confirming that there are no duplicate rows
duplicates = cleaned_data.duplicated(keep=False)
cleaned_data[duplicates]

Empty DataFrame
Columns: [Date Time, V1, V2, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, V19, V20, V21, V22, V23, V24, V25, V26, V27, V28, Amount Withdrawn, Class ]
Index: []

[0 rows x 31 columns]

In [ ]:
#DATA VISUALIZATION